<!--{% extends "base.html" %}
{% block title %}les utilisateurs{% endblock %}
{% block content %}
    {% with messages = get_flash_messages() %}
        {% if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<fom action="#" method="POST">
    <input type="text" name="user_name" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="login">
</fom>
{% endblock %}
-->

 